.pdf-viewer{
    position: relative;
    // width: 918px;
    // min-height: 1188px;
    border-radius: 3px;
    background-color: #fff;
    >div{
        // position: absolute;
        // display: inline-block;
        // background-color: #eee;
        // border:1px solid red;
    }
}